asgiref==3.11.0
Django==6.0
djangorestframework==3.16.1
psycopg==3.3.2
psycopg-binary==3.3.2
sqlparse==0.5.5
tzdata==2025.3
geohash2==1.1
requests==2.31.0
django-cors-headers==4.3.1
mongoengine==0.27.0
pymongo==4.6.0
celery==5.3.4
redis==5.0.1
django-redis==5.4.0
boto3==1.26.137
Pillow==10.0.0
python-dotenv==1.0.0
djangorestframework-simplejwt==5.4.0
gunicorn==23.0.0
whitenoise==6.9.0
